
body{
    background-color: var(--quarta);
}

:root{
    --primeira: #951f2b;   
    --segunda: #f5f4d7;
    --terceria: #e0dfb1;
    --quarta: #a5a36c;
    --quinta: #535233;
}

.first{
    color: var(--segunda);
    display: flex;
    align-items: center;
    justify-content: center;
}
.upbar{
    width: 100%;
    position: fixed;
    height: 60px;
    left: 0;
    top: 0;
    color: var(--quarta);
    padding: 15px;
}
.linkbar{
    color: var(--segunda);
    padding: 5px;
    font-size: 2em;
}